#pane_content0{
    -fx-background-color:#ffffff;
}

#pane_flow_button0, #pane_flow_button1{
	-fx-max-height: 8.0px;
	-fx-max-width: 16.0px;
	-fx-pref-height: 8.0px;
	-fx-pref-width: 16.0px;
	-fx-min-height: 8.0px;
	-fx-min-width: 16.0px;
}
